# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Pyenv
.python-version

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Local data
*.sqlite3
*.db

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# General cache
cache/
